body{
    transition: 1s;
    background-color:#59c8df;
    /* background-color: #01CEFF; */
}

header{
    height:67px;
    background-color:rgba(0,0,0,0);
    position: fixed;
    width:100%;
    transition: 1s;
}

.header-container{
    width:80%;
    margin:0 auto;
    background-color:rgba(0,0,0,0);
}

.header-menu{
    line-height:67px;
    display:flex;
    justify-content: space-around;
    color:white;
}



.header-menu-button{
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    margin-top:15px;
}

.header-border{
    display:block;
    height:2px;
    width:100%;
    background-color:rgba(0,0,0,0);
    transition: 1s;/*X方向0、Y方向1*/
    transform-origin: left top;/*左上基点*/
}

.header-border-animate{
    background-color:white;
}


.wrapper{
    width:70%;
    margin:0 auto;
}

.main-container{
    width:100%;
    height:100%;
    margin:0 auto;
}
.main-home{
    width:60%;
    height:100%;
    margin:0 auto;
    text-align:center;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}



.main-home-container h1{
    font-size: 4.5rem;
    font-family: 'Alegreya Sans SC', sans-serif;
}

.main-home-container h2{
    font-size:2.0rem;
    padding-top:10px;
}

.main-header{
    text-align:center;
    color:white;
    font-size:3.5rem;
    padding: 40px 0px 30px 0px;
}

.main-about{
    /* background-color:#00B8E6; */
   
    
}

.intro{
    /* width:80%;
    margin:0 auto; */
    padding-bottom:70px;
}

.intro p{
    color:white;
    font-size:1.5rem;
    line-height: 45px;
}
.main-skill{
   /*  background-color:#0099BF; */
}

.skills{
    padding-bottom:70px;
}
.skill{
    margin: 20px 0px 35px 0;
}

.skill p{
    color:white;
    font-size:1.5rem;
}

.var{
    margin:25px 0px;
    margin-left:10px;
    width: 70%;
    height: 20px;
    position: relative;
    border-radius: 10px;
    opacity:0;
}

.is-show {
    opacity:1;
}

.var svg{
    border-radius: 3px;
}

#var_html{
    width:90%;
}

#var_python{
    width:70%;
}

#var_php{
    width:75%;
}

#var_js{
    width:70%;
}

#var_vba{
    width:50%;
}

#var_c{
    width:50%;
}

#work-header{
    padding-bottom:60px;
}

.main-works{
    padding-bottom:30px;
}

.works{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.work{
    width:40%;
    margin-bottom: 30px;
}

.work img{
    border-radius: 5px;

}

.message{
    color:white;
    text-align: center;
}

.main-contact{
    padding-bottom:30px;
}

.message p{
    font-size:2.0rem;
    padding-top:30px;
}

.message a{
    transition: 1s;
    background-color:#f45249;
    font-size:1.5rem;
    display: block;
    margin:30px auto;
    width: 40%;
    padding: 30px 0;
    border-radius: 20px;
    border-color: white;
    border-radius: 5px;
}

.mail{
    color:white;
    font-size:1.5rem;
    text-align:center;
    margin-top:90px;
}

.address{
    font-size:2.0rem;
}

.main-contact{
    padding-bottom:120px;
}

.fadeDown{
    animation-name:fadeDownAnime;
    animation-duration:0.5s;
    animation-fill-mode:forwards;
    opacity:0;
    }
    
    @keyframes fadeDownAnime{
      from {
        opacity: 0;
      transform: translateY(100px);
      }
    
      to {
        opacity: 1;
      transform: translateY(0);
      }
    }